body,h1,h2,h3,p,td,quote,small,form,input,ul,li,ol,label{
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
}

body{
	margin-top:20px;
	color:#e7edf3;
	font-size:13px;
	background-color:#9aa9bd;
	text-align:center;
}

#tabla {
	background-color: #ffffff;
	
}
  
  #tabla {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
  }
  
 a {
	padding: 0.5em;
    border: 1px solid #98be10; 
	margin:5px 5px 5px 5px;	
} 